*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;}


body{
    height: 100vh;
     background-color: #6194F7;
    align-items: center;

 
}
h1{align-items: center;
    text-align: center;
    background-color: rgba(16, 93, 241, 0.8999999762);
    color: #161515;
    display: flex;
    flex-shrink: 0;
    font-family: Inter, 'Source Sans Pro';
    font-size: 3rem;
    font-weight: 400;
    height: 9.5rem;
    justify-content: center;
    line-height: 1.2125;
    margin-bottom: 6.6rem;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 100px;
    font-size: 70px;
    padding-right: 400px;
}
.btn {
    color: #000;
    background-color: rgba(16, 93, 241, 0.8999999762);
    padding: 12px 16px;
    font-size: 32px;
    margin-right:800px;
}
.btn:hover {
    background-color: #606060;
}

.container{
    width: 900px;
    background:white ;
    box-shadow: 0 2px 20px rgba(0,0,0,.3);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 1000px;
}
.translator_prperty{
    border: 1px solid #c7c7c783;

}
.translator_prperty .nuv_item{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    padding:  0 20px;
}
.translator_prperty .nuv_item li select{
    outline: none;
    border-style: none;
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(51, 45, 45);
    cursor:pointer;
    transform: all .3s ease-out;
}
.translator_prperty .nuv_item li select:hover{
    color: #111;
}
.bx-transfer{
    font-size: 22px;
    color: rgb(51, 45, 45) ;
    cursor: pointer;
    transform: all .3s ease-out;

}
.bx-transfer:hover{
    color: #111;

}
.write_box{
    display: flex;
}
.property_from, .property_trans{
    width: 100%;
    position: relative;
}
.write_box textarea{
    width: 100%;
    height:350px;
    border-style: none;
    outline: none;
    resize: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #606060;
    position: relative;

}
.write_box textarea:nth-child(1){
    border-right: 1px solid #c7c7c7;
}
.write_box .icons{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.icons .bx{
    width: 35px;
    height: 35px;
    background: #ddd;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}
.icons .bx:hover{
    background: #606060;
    color: wheat;
}
.code_length{
    font-size: 18px;
    color: #606060;
}
