body{ 
     background-color: #568af0;
height: 102.4rem;
overflow: hidden;
position: relative;
width: 100%;

}
h1{align-items: center;
  background-color: rgba(16, 93, 241, 0.8999999762);
  color: #161515;
  display: flex;
  flex-shrink: 0;
  font-family: Inter, 'Source Sans Pro';
  font-size: 3rem;
  font-weight: 400;
  height: 9.5rem;
  justify-content: center;
  text-align: center;
  line-height: 1.2125;
  margin-bottom: 6.6rem;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 100px;
  font-size: 70px;
}
p{align-items: center;
   text-align: center;
   color: #ffffff;
   font-size: 150px;
}
label{
            background-color: #105df1;
            border-radius: 1.5rem;
            box-sizing: border-box;
            color: #161515;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2125;
            margin: 0rem 0.2rem 4.5rem 0rem;
            padding: 2.1rem 1.9rem 2rem 1.9rem;
            white-space: nowrap;
            width: 45rem;
        }
input{ background-color: hwb(219 6% 5%);
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #161515;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0rem 0rem 3.2rem 0.2rem;
        padding: 2.6rem 1.7rem 1.5rem 1.7rem;
        white-space: nowrap;
        width: 45rem;
    }
    select{ background-color: #105df1;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #161515;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        height: 8rem;
        line-height: 1.2125;
        margin: 0rem 0.2rem 4.7rem 0rem;
        padding: 1.3rem 1.9rem;
        white-space: nowrap;
        width: 45rem;}
        
        a{align-items: center;
            background-color: #ffffff;
            border-radius: 4rem;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            height: 12rem;
            justify-content: center;
            line-height: 1.2125;
            margin: 0rem 9.5rem 0rem 5.6rem;
            white-space: nowrap;
            width: calc(100% - 15.1rem);
        
        }
        .img{
            width: 0;
            margin-left: 90%;
            border-radius: 2rem;
        }
  button{
            flex-shrink: 0;
            color: rgb(22, 125, 216);
          font-family: Inter, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.2125;
          margin: 0rem 112.329rem 1.271rem 0rem;
          white-space: nowrap;
        }
button.submit{
  align-items: center;
}